---
import '../styles/global.css';

import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import alphabet from "../assets/alphabet.json";

const options = {
  y: { grid: true, percent: true },
  marks: [
    Plot.ruleY([0]),
    Plot.barY(alphabet, { x: "letter", y: "frequency", sort: { x: "y", reverse: true } })
  ]
};
---

<h1 class="plot-wrapper">Alphabet Bar Chart</h1>
<div class="plot-wrapper">
  <PlotFigure options={options} />
</div>
<a class="plot-wrapper" href="/">Retourner a l'accueil</a>

