---
import '../styles/global.css';
---

<h1>Voici different graphiques</h1>
<ul>
  <li><a href="/penguins">Repartition des penguins</a></li>
  <li><a href="/cars">Voitures : Puissance vs Economie</a></li>
  <li><a href="/alphabet">Frequence d'apparition des lettres</a></li>
</ul>
