---
---

<h1>Voici different graphiques</h1>
<ul>
  <li><a href="/penguins">Penguins Scatter Plot</a></li>
  <li><a href="/citywages">City Wages Bar Chart</a></li>
  <li><a href="/alphabet">Frequence d'apparition des lettres</a></li>
</ul>
