---
import '../styles/global.css';

import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import penguins from "../assets/penguins.json";

const options = {
  marks: [
    Plot.dot(penguins, {
      x: "culmen_length_mm",
      y: "culmen_depth_mm",
      stroke: "species"
    })
  ]
};
---

<h1 class="plot-wrapper">Penguins Scatter Plot - En couleurs</h1>

<div class="plot-wrapper">
  <PlotFigure options={options} />
</div>
<a class="plot-wrapper" href="/">Retourner a l'accueil</a>
